.badge.bg-success {
  background-color: #28a745;
}

.badge.bg-secondary {
  background-color: #6c757d;
}

.badge.bg-danger {
  background-color: #dc3545;
}

.badge.bg-warning {
  background-color: #ffc107;
}
